<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Music Store</title>
</head>

<body>
    <header>
        <a href="../index.html"> <img class="nav_logo" src="../img/logoMusicStore.png" alt="logo-music-store"> </a>
    </header>
    <nav>
        <ul class="menuHamburguesa">
            <li><a><img class="nav_boton" src="../img/burger_menu.svg" alt="Menú"></a></li>
        </ul>

        <ul class="menu">
            <li class="item-nav"><a href="../index.html">Inicio</a></li>
            <li class="item-nav"><a href="violines.html">Violines</a></li>
            <li class="item-nav"><a href="accesorios.html">Accesorios</a></li>
            <li class="item-nav"><a href="contacto.html">Contacto</a></li>
        </ul>

    </nav>

    <main>
        <h2>Lista de accesorios disponibles</h2>
        <div class="accesorios">
            <ul>
                <li>Soportes para hombro</li>
                <li>Resina Dominant</li>
                <li>Resina Pirastro</li>
                <li>Juego de cuerdas completo Pirastro Piranito</li>
                <li>Juego de cuerdas completo Thomastik Vision</li>
                <li>Cuerda E Medina Artigas</li>
                <li>Arcos de fibra de carbono</li>
                <li>Arcos de madera</li>
                <li>Mentonera y tiracuerdas</li>
                <li>Microafinadores</li>
                <li>Afinador cromático</li>
            </ul>
        </div>

    </main>
    <footer>
        <div>
            <p>Seguinos en nuestras redes!</p>
        </div>
        <div class="footer__redes">
            <a href="https://x.com/"><img src="../img/twitter-x.svg" alt=""></a>
            <a href="https://www.instagram.com/"><img src="../img/instagram.svg" alt=""></a>
            <a href="https://www.youtube.com/"><img src="../img/youtube.svg" alt=""></a>
            <a href="https://www.facebook.com/"><img src="../img/facebook.svg" alt=""></a>
        </div>
    </footer>

    <script type="text/javascript" src="../js/nav.js"></script>
</body>

</html>