<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Store</title>
</head>
<body>
    <form id="form">
        <input type="text" value="" placeholder="Nombre"required/>
        <input type="text" value="" placeholder="Apellido"required/>
        <input type="email" value="" placeholder="E-Mail" required/>
        <input type="text" value="" placeholder="Teléfono"required/>
        
        <div class="box-mensaje">
            <input type="text" value="" placeholder="Mensaje"/>
        </div>
        
        <div class="img-captcha">
            <img src="../img/captcha1.jpg" alt="">
        </div>

        <div class="img-recargar">
            <img src="../img/img-recargar.svg" alt="">
        </div>

        <input class="inp-captcha" type="text" value="">
       
        <input type="submit" value="Enviar">

    </form>

    <script type="text/javascript" src="../js/form.js"></script>
</body>
</html>