<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Music Store</title>
</head>
<body>
    <header>
        <a href="../index.html"> <img class="nav_logo" src="../img/logoMusicStore.png" alt="logo-music-store"> </a>
    </header>
        <nav>
            <ul class="menuHamburguesa">
                <li><a><img class="nav_boton" src="../img/burger_menu.svg" alt="Menú"></a></li>
            </ul>
    
            <ul class="menu">
                <li class ="item-nav"><a href="../index.html">Inicio</a></li>
                <li class ="item-nav"><a href="violines.html">Violines</a></li>
                <li class ="item-nav"><a href="accesorios.html">Accesorios</a></li>
                <li class ="item-nav"><a href="contacto.html">Contacto</a></li>
            </ul>
    
        </nav>


    <footer class="footer">
        <div class="footer__container">
            <div>
                <p>Seguinos en nuestras redes!</p>
            </div>

            <div class="footer__redes">
                <a href="">
                    <img src="../img/twitter-x.svg" alt="">
                </a>
                <a href="">
                    <img src="../img/instagram.svg" alt="">
                </a>
                <a href="">
                    <img src="../img/youtube.svg" alt="">
                </a>
                <a href="">
                    <img src="../img/facebook.svg" alt="">
                </a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../js/nav.js"></script>
</body>
</html>