<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Music Store</title>
</head>

<body>
    <header>
        <a href="../index.html"> <img class="nav_logo" src="../img/logoMusicStore.png" alt="logo-music-store"> </a>
    </header>
    <nav>
        <ul class="menuHamburguesa">
            <li><a><img class="nav_boton" src="../img/burger_menu.svg" alt="Menú"></a></li>
        </ul>

        <ul class="menu">
            <li class="item-nav"><a href="../index.html">Inicio</a></li>
            <li class="item-nav"><a href="violines.html">Violines</a></li>
            <li class="item-nav"><a href="accesorios.html">Accesorios</a></li>
            <li class="item-nav"><a href="contacto.html">Contacto</a></li>
        </ul>

    </nav>

    <main>
        <div class="div-violines">
            <img src="../img/imagenViolines.jpg" class="img-violines" alt="">
        </div>
        <div class="tabla-violines">
            <table>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Tamaño</th>
                    <th>Tipo de madera</th>
                </tr>
                <tr>
                    <th rowspan="2">Ancona</th>
                    <td>JVN-03</td>
                    <td>4/4</td>
                    <td>Tapa de Abeto Maciza, Fondo de Maple Macizo, Tastiera y Accesorios de Ebano</td>
                </tr>
                <tr>
                    <td>VG-106</td>
                    <td>4/4</td>
                    <td>Tapa de Abeto Maciza, Fondo y Fajas de Maple Macizo, Tastiera y Accesorios Ebonizados</td>
                </tr>
                <tr>
                    <th rowspan="2">Cremona</th>
                    <td>SV-50</td>
                    <td>1/2, 4/4</td>
                    <td>Tapa de Abeto Solido, Cuerpo de Maple </td>
                </tr>
                <tr>
                    <td>SV-130</td>
                    <td>4/4</td>
                    <td>Tapa de Pino solido Select, Cuerpo de Maple Flameado</td>
                </tr>
                <tr>
                    <th rowspan="3">Stradella</th>
                    <td>MV- 1411</td>
                    <td>3/4, 4/4</td>
                    <td>Tapa de Pino, Fondo de Maple. </td>
                </tr>
                <tr>
                    <td>MV-1414</td>
                    <td>4/4</td>
                    <td>Tapa de Pino, Aro y Fondo de Maple</td>
                </tr>
                <tr>
                    <td>MV-1419</td>
                    <td>4/4</td>
                    <td>Tapa de Pino Seleccionado Fully Carved, Fondo Maple Fully Carved, Clavijas, Cordal, y Mentonera
                        de Ébano. </td>
                </tr>
            </table>
        </div>
    </main>

    <footer>
        <div>
            <p>Seguinos en nuestras redes!</p>
        </div>
        <div class="footer__redes">
            <a href="https://x.com/"><img src="../img/twitter-x.svg" alt=""></a>
            <a href="https://www.instagram.com/"><img src="../img/instagram.svg" alt=""></a>
            <a href="https://www.youtube.com/"><img src="../img/youtube.svg" alt=""></a>
            <a href="https://www.facebook.com/"><img src="../img/facebook.svg" alt=""></a>
        </div>
    </footer>

    <script type="text/javascript" src="../js/nav.js"></script>
</body>

</html>