@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color1: #58A9BB;
    --color2: #338DA2;
    --color3: #178098;
    --color4: #07677E;
    --color5: #035163;
    --color-gris-100: rgba(20, 24, 31, 0.05);
    --color-gris-200: rgba(20, 24, 31, 0.1);
    --color-gris-300: rgba(20, 24, 31, 0.25);
    --color-gris-500: rgba(20, 24, 31, 0.5);
    --color-gris-700: rgb(37, 37, 65);
    --color-gris-900: rgb(12, 12, 34);

    --color-bg: #f2f2ff;

    --radio-1: 0.3rem;
    --radio-2: 0.6rem;
    --radio-3: 1rem;
    --radio-4: 2rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem;
    line-height: 1.6;
}


a {
    color: var(--color-gris-700);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-gris-900);
    line-height: 1.1;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    line-height: 1.4;
}


section {
    margin-top: 6rem;
}



/*  ----------------------- NAVBAR -----------------------*/


.navbar {
    background-color: var(--color5);
}


.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav__boton {
    position: absolute;
    right: 2rem;
    top: 5.5rem;
}

.nav__boton:hover {
    cursor: pointer;
}

.nav__boton img {
    width: 2rem;
}


.nav__logo {
    width: 15rem;
}




/*  ----------------------- ABOUT US -----------------------*/


.about-us {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}









/*  ----------------------- FOOTER -----------------------*/

.footer {
    background-color: var(--color5);
}

.footer__container {
    display: flex;
    flex-direction: column;
    
}

.footer__container p {
    margin-bottom: .3rem;
    font-size: 1.2rem;
}

.footer__redes {
    display: flex;
    justify-content: space-around;
}
