@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color1: #58A9BB;
    --color2: #338DA2;
    --color3: #178098;
    --color4: #07677E;
    --color5: #035163;
    --color-gris-100: rgba(20, 24, 31, 0.05);
    --color-gris-200: rgba(20, 24, 31, 0.1);
    --color-gris-300: rgba(20, 24, 31, 0.25);
    --color-gris-500: rgba(20, 24, 31, 0.5);
    --color-gris-700: rgb(37, 37, 65);
    --color-gris-900: rgb(12, 12, 34);

    --color-bg: #f2f2ff;

    --radio-1: 0.3rem;
    --radio-2: 0.6rem;
    --radio-3: 1rem;
    --radio-4: 2rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem;
    line-height: 1.6;
}


a {
    color: var(--color-gris-700);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-gris-900);
    line-height: 1.1;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    line-height: 1.4;
}


section {
    margin-top: 6rem;
}

/*---Mobile First---*/

body {
    width: 100%;
    margin: 0%;
    font-size: 120%;
    font-family:"Poppins", sans-serif;
}
.nav_boton {
    margin-top: 2%;
    width: 25%;
}
.menu {
    display: none;
}

.show {
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: -webkit-sticky;
}


a:link,
a:visited {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.item-nav:hover{
    background-color: var(--color4);

}



/*---small and medium devices---*/

@media screen and (min-width:768px) and (max-width:1024px){
    /*HEADER*/

    /*NAV*/
    .menuHamburguesa {
        display: none;
    }
    nav{
        width: 100%;
        position: sticky;
        top: 0%;
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(33, 51, 67);
        align-items: center;
        margin: 0%;
        padding-left: 0%;
    } 
    /*BODY*/
    /*FOOTER*/ 

}

/*---large and extra large devices---*/

@media screen and (min-width:1024px) and (max-width:1440px){
    /*HEADER*/


    /*NAV*/
    .menuHamburguesa  {
        display: none;
    }
    nav{
        width: 100%;
        position: sticky;
        top: 0%;
        z-index: 1000;
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(33, 51, 67);
        align-items: center;
        margin: 0%;
        padding-left: 0%;
    }
    /*BODY*/
    /*FOOTER*/
}


/*  ----------------------- NAVBAR -----------------------*/

/*
.navbar {
    background-color: var(--color5);
}


.nav__container {
    display: flex;
    justify-content: space-between;
}
*/
.nav_boton {
    position: absolute;
    right: 2rem;
    top: 5.5rem;
}

.nav_boton:hover {
    cursor: pointer;
}

.nav_boton img {
    width: 2rem;
}


.nav_logo {
    width: 15rem;
}


/*  ----------------------- FOOTER -----------------------*/

.footer {
    background-color: var(--color5);
}

.footer__container {
    display: flex;
    flex-direction: column;
    
}

.footer__container p {
    margin-bottom: .3rem;
    font-size: 1.2rem;
}

.footer__redes {
    display: flex;
    justify-content: space-around;
}
