@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color1: #58A9BB;
    --color2: #338DA2;
    --color3: #178098;
    --color4: #07677E;
    --color5: #035163;
    --color-gris-100: rgba(20, 24, 31, 0.05);
    --color-gris-200: rgba(20, 24, 31, 0.1);
    --color-gris-300: rgba(20, 24, 31, 0.25);
    --color-gris-500: rgba(20, 24, 31, 0.5);
    --color-gris-700: rgb(37, 37, 65);
    --color-gris-900: rgb(12, 12, 34);

    --color-bg: #f2f2ff;

    --radio-1: 0.3rem;
    --radio-2: 0.6rem;
    --radio-3: 1rem;
    --radio-4: 2rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem;
    line-height: 1.6;
}


a {
    color: var(--color-gris-700);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-gris-900);
    line-height: 1.1;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    line-height: 1.4;
}


/*---Mobile First---*/

body {
    width: 100%;
    margin: 0%;
    font-size: 120%;
    font-family: "Poppins", sans-serif;
}

.nav_boton {
    margin-top: 2%;
    width: 20%;
}

.menu {
    display: none;
}

.show {
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: -webkit-sticky;
}


a:link,
a:visited {
    text-decoration: none;
    color: var(--color-bg);
    text-transform: uppercase;
}

.nav_boton {
    position: absolute;
    right: 2rem;
    top: 5.5rem;
}

.nav_boton:hover {
    cursor: pointer;
}

.nav_boton img {
    width: 2rem;
}


.nav_logo {
    width: 12rem;
}

nav,
header {
    background-color: var(--color3);
}


.parrafo {
    margin-top: 3%;
}

.accesorios ul {
    margin-left: 2%;
    list-style: circle;
}

.accesorios {
    padding: 8%;
}

#form {
    width: 70%;
    /* Ancho del formulario */
    margin: 0 auto;
    /* Centrar el formulario */
}


input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    /* Ancho completo de los campos de entrada y select */
    padding: 2%;
    /* Espaciado interno */
    margin-bottom: 3px;
    /* Espacio entre campos */
    border: 1px solid #ccc;
    /* Borde */
    border-radius: 4%;
    /* Bordes redondeados */
    box-sizing: border-box;
    /* Incluir borde y relleno en el tamaño total */
}

.box-mensaje {
    margin-bottom: 5%;
    height: 100%;
}

.img-captcha {
    width: 70%;
    height: auto;
}

.img-recargar img {
    width: 5%;
    /* Ancho de las imágenes */
    height: auto;
    /* Altura automática para mantener la proporción */
}

.inp-captcha {
    width: 60%;
    /* Ancho del campo de entrada de captcha, dejando espacio para la imagen de recargar */
    padding: 2%;
    /* Espaciado interno */
    margin-bottom: 5%;
    /* Espacio entre el campo de entrada de captcha y otros elementos */
    border: 1px solid #ccc;
    /* Borde */
    border-radius: 2%;
    /* Bordes redondeados */
    box-sizing: border-box;
    /* Incluir borde y relleno en el tamaño total */
}

input[type="submit"] {
    background-color: #4CAF50;
    /* Color de fondo del botón */
    color: white;
    /* Color del texto */
    padding: 3% 6%;
    /* Espaciado interno */
    border: none;
    /* Sin borde */
    border-radius: 7%;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar el cursor al pasar sobre el botón */

}

input[type="submit"]:hover {
    background-color: #45a049;/
}

.alerta {
    margin-top: 10px;
}

table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    border: 3px solid var(--color5);
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 15%;
}


th,
td {
    border: var(--color5);
    border-style: solid;
}

th,
td,
.tabla-violines {
    padding: 2%;
}

.div-violines,
.tabla-violines {
    display: flex;
    justify-content: center;
}

.div-violines {
    padding: 3%;
}

.img-violines {
    width: 80%;
}

.tabla-violines {
    margin-bottom: 2%;
}


@media screen and (min-width:768px) {

    /*HEADER*/

    .nav_logo {
        width: 10rem;
    }

    /*NAV*/
    .menuHamburguesa {
        display: none;
    }

    nav,
    header {
        position: sticky;
        top: 0%;

    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    /*MAIN*/
    h1,
    h2 {
        text-align: center;
        margin-top: 2%;
    }

}





/*  ----------------------- FOOTER -----------------------*/

.footer {
    background-color: var(--color3);
}

.footer__container {
    display: flex;
    flex-direction: column;

}

.footer__container p {
    margin-bottom: .3rem;
    font-size: 1.2rem;
    text-align: center;
}

.footer__redes {
    display: flex;
    justify-content: space-around;
}

.footer__container p {
    color: #ffffff;
}